@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

$WhiteColor: #ffffff;           /* White Color */
$BlackColor: #000000;           /* Black Color */
$DarkColor: #073B4C;            /* Midnight Green Eagle Green */
$GrayColor-1: #fcfcfc;          /* Gray Color */

$PrimaryColor: #06D6A0;         /* Caribbean Green */
$PrimaryColorDark: #048B67;    /* Spanish Viridian */

$SecondaryColor: #118AB2;       /* Blue NCS */
$SecondaryColorDark: #0A5770;  /* Blue Sapphire */

$TertiaryColor: #FFD166;        /* Orange Yellow Crayola */
$TertiaryColorDark: #A37200;   /* Gold */

$SourceSansFont:'Source Sans Pro', sans-serif;

$DefultFontSize:16px;

$container-width:1140px;
$col-gutter: 60px;
