
$WhiteColor: #ffffff;       /* White Color */
$BlackColor: #000000;       /* Black Color */
$DarkColor: #001F3D;        /* Misty Blue Color */
$PrimaryColor: #325980;     /* Coral Color */
$SecondaryColor: #D4C2B0;   /* Teal Green Color */
$TertiaryColor: #777180;    /* Ivory Color */

$RalewayFont: 'Raleway', sans-serif;

$ant-gutter-x: 20px;
$ant-gutter-y: 0;