.blog .main-header {
	background-color: transparent;
}

.blog-listing-top-section {
	background-color: var(--g-primary);
	padding-top: 160px;
	padding-bottom: 330px;
	position: relative;
	margin-top: -87px;
}
.blog-listing-top-section:before{
	content:"";
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	width:100%;
	height:100%;
	background-image:url(../images/blog-banner-bg.png);
	background-repeat:no-repeat;
	background-position:right center;
}
.blog-listing-top-section .container{
	position:relative;
	z-index:2;
}
.blog-listing-top-section .col-75{
	width:57%;
}
.blog-listing-top-section .col-25{
	width:43%;
}
.blog-listing-top-section .left-details .sub-title{
	font-size:19px;
	color:var(--g-secondary);
	font-family: var(--bs-font-heading);
	line-height:normal;
}
.blog-listing-top-section .main-heading{
	line-height:normal;
	color:var(--g-light);
	font-size:70px;
}
.blog-listing-top-section p{
	font-size:21px;
	color:var(--g-light);
	line-height:34px;
}

.blog-tags-search .tags-list{
	display:flex;
	white-space: pre;
	overflow-x:auto;
}
.blog-tags-search .tags-list .tag-item{
	margin-right: 15px;
}
.blog-tags-search .tags-list .tag-item:last-child{
	margin-right:0px;
}
.blog-tags-search .tags-list .tag-link{
	display: inline-block;
	font-size: 17px;
	border: 1px solid var(--g-secondary);
	padding: 17px 57px;
	border-radius: 10px;
	transition:0.5s;
	background-color:var(--g-primary);
	color:var(--g-light);
}
.blog-tags-search .tags-list .tag-link:hover,
.blog-tags-search .tags-list .tag-item.active .tag-link{
	background-color:var(--g-secondary);
	border:1px solid var(--g-secondary);
}
.blog-tags-search {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 70px;
	margin-bottom: 40px;
}
.blog-tags-search .left-tags {
	width: calc(100% - 386px);
	padding-right:12px;
}
.blog-tags-search .right-search {
	width: 385px;
}
.blog-tags-search .right-search .search-input{
	border: 1px solid var(--g-secondary);
	background-color: var(--g-primary);
	padding: 8px 58px 8px 29px;
	border-radius: 10px;
	font-size: 17px;
	color: #fff;
	width: 100%;
	height: 55px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 24px) center;
}
.blog-tags-search .right-search .search-input:focus{
	outline:none !important;
}
.blog-tags-search .right-search .search-input::placeholder{
	color: #fff;
	opacity:1;		
}

.new-insight-listing .research-overview-logo-box .research-overview-logo-inner img{
	left:0px;
	top:0px;
	transform:unset;
	max-height:unset;
	max-width:unset;
	width:100%;
	height:100%;
	mask-image: url(../images/blog-listing-mask.png);
	mask-repeat: no-repeat;
	mask-size:100%;
}
.new-insight-listing .research-overview-box-inner .research-overview-box-col{
	top:-62px;
}
.new-insight-listing .research-overview-box-inner::before{
	border-bottom: 61px solid var(--g-light);
	border-right: 63px solid transparent;
}
.new-insight-listing .research-overview-logo-box .research-overview-logo-inner{
	padding-top: calc(38% + 60px);
}
.new-insight-listing .research-overview-box .research-overview-box-subtitle{
	font-size:21px;
	line-height:normal;
	margin-bottom:5px;
}
.new-insight-listing .research-overview-box .g-label{
	color: #9ca9b7;
	font-size: 15px;
	font-family: 'Avenir Next';
	font-weight: 500;
	line-height:normal;	
	margin-bottom:12px;
}
.new-insight-listing .research-overview-box .research-overview-box-title {
	font-size: 17px;
	line-height:normal;
	margin-bottom: 10px;
}
.new-insight-listing .research-overview-box-contain{
	padding:30px 36px 30px 36px;
}

.stickyM-blog-box .stickyM-blog-box-title {
	font-size: 17px;
	line-height: normal;
}
.stickyM-blog-box .stickyM-blog-subtitle{
	color:var(--g-primary);
	font-size: 35px;
	line-height:normal;
}
.stickyM-blog-box .stickyM-blog-g-label{
	color:#9ca9b7;
	font-size:17px;
	font-family: 'Avenir Next';
	font-weight: 500;
	line-height:normal;
}
.stickyM-blog-box .stickyM-blog-text{
	font-size: 17px;
	line-height: 28px;
	font-weight: normal;
	margin-bottom: 20px;
	color: #000;
}
.stickyM-blog-box .btn-arrow{
	font-size: 17px;
	line-height: 28px;
	font-weight: 600;
	color: var(--g-secondary);
	display: inline-flex;
	align-items: center;
}
.stickyM-blog-box .btn-arrow span{
	padding-left: 10px;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.stickyM-blog-box .btn-arrow:hover span{
	padding-left: 15px;
}
.stickyM-blog-box .stickyM-blog-box-col{
	display:flex;
	flex-wrap:wrap;
}
.stickyM-blog-box .stickyM-blog-overview-box-contain{
	width:58%;
}
.stickyM-blog-box .stickyM-blog-logo-box{
	width: 42%;
}
.stickyM-blog-box .stickyM-blog-logo-box .stickyM-blog-overview-logo-inner{
	height:100%;
}
.stickyM-blog-box .stickyM-blog-logo-box .stickyM-blog-overview-logo-inner img{
	height:100%;
	width:100%;
	object-fit:cover;
	object-position:center;
}