@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
/* White Color */
/* Black Color */
/* Midnight Green Eagle Green */
/* Gray Color */
/* Caribbean Green */
/* Spanish Viridian */
/* Blue NCS */
/* Blue Sapphire */
/* Orange Yellow Crayola */
/* Gold */
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0); }
  40% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-5px); } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slideInBottom {
  0% {
    transform: translateY(40px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

/****************************************
* Reset Style
****************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

*:focus {
  outline: none; }

i {
  display: inline-block; }

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } }

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: "";
  display: table; }

.clearfix:after,
.row:after {
  clear: both; }

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #073B4C;
  background-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 1.2; }

h1,
.h1 {
  font-size: 48px; }

h2,
.h2 {
  font-size: 40px; }

h3,
.h3 {
  font-size: 32px; }

h4,
.h4 {
  font-size: 28px; }

h5,
.h5 {
  font-size: 24px; }

h6,
.h6 {
  font-size: 20px; }

p {
  margin: 0; }

.heading-secondary {
  font-size: 35px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #06D6A0, #048B67);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #118AB2; }

.paragraph {
  font-size: 16px;
  font-weight: 400;
  color: #073B4C; }
  .paragraph:not(:last-child) {
    margin-bottom: 30px; }

.ui-center {
  text-align: center !important; }

.ui-mb-80 {
  margin-bottom: 80px !important; }

.ui-mb-40 {
  margin-bottom: 40px !important; }

.ui-mb-15 {
  margin-bottom: 15px !important; }

.ui-mt-80 {
  margin-top: 80px !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-flex;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
  position: relative;
  font-size: 16px;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(7, 59, 76, 0.2); }
  .btn:hover:after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(7, 59, 76, 0.2); }

.btn--white {
  background-color: #ffffff;
  color: #073B4C; }
  .btn--white:after {
    background-color: #ffffff; }

.btn--primary {
  background-color: #048B67;
  color: #ffffff; }
  .btn--primary:after {
    background-color: #048B67; }

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100px;
  transition: all 0.4s ease-in-out; }

.btn--animated {
  animation: slideInBottom .5s ease-in-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 20px;
  color: #06D6A0;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #06D6A0;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #06D6A0;
  color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__picture {
    width: 55%;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10px;
    transition: all 0.2s;
    outline-offset: 10px; }
    .composition__picture--1 {
      left: 0px;
      top: -20px; }
    .composition__picture--2 {
      right: 0;
      top: 20px; }
    .composition__picture--3 {
      left: 20%;
      top: 100px; }
    .composition__picture:hover {
      outline: 10px solid #118AB2;
      transform: scale(1.05) translateY(-5px);
      box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__picture:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  padding: 25px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 60px;
    margin-bottom: 5px;
    background-image: linear-gradient(to right, #118AB2, #0A5770);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-15px) scale(1.03); }

.card {
  perspective: 1500px;
  -moz-perspective: 1500px;
  position: relative;
  height: 500px; }
  .card__side {
    background-color: red;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.14); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #06D6A0, #048B67); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #118AB2, #0A5770); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #FFD166, #A37200); }
    .card__side--picture {
      background-size: cover;
      height: 230px;
      background-blend-mode: screen;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .card__side--picture-1 {
        background-image: linear-gradient(to right bottom, #06D6A0, #048B67), url(../img/image-2.png); }
      .card__side--picture-2 {
        background-image: linear-gradient(to right bottom, #118AB2, #0A5770), url(../img/image-3.png); }
      .card__side--picture-3 {
        background-image: linear-gradient(to right bottom, #FFD166, #A37200), url(../img/image-4.png); }
  .card__heading {
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 120px;
    right: 20px;
    width: 75%;
    letter-spacing: 2px; }
    .card__heading-span {
      padding: 10px 15px;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(6, 214, 160, 0.85), rgba(4, 139, 103, 0.85)); }
      .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(17, 138, 178, 0.85), rgba(10, 87, 112, 0.85)); }
      .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(255, 209, 102, 0.85), rgba(163, 114, 0, 0.85)); }
  .card__details {
    padding: 30px; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      padding: 0; }
      .card__details ul li {
        text-align: center;
        font-size: 15px;
        padding: 10px;
        color: #073B4C; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid rgba(7, 59, 76, 0.1); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__cta {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #ffffff;
    margin-bottom: 80px; }
  .card__price-only {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 60px;
    font-weight: 200; }

.story {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  padding: 40px 60px;
  padding-left: 90px;
  transform: skewX(-12deg);
  transition: all .5s; }
  .story__shape {
    width: 150px;
    height: 150px;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-30px) skewX(12deg);
    float: left;
    position: relative;
    z-index: 10; }
  .story__img {
    height: 100%;
    object-fit: cover;
    transform: translateX(-40px) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    position: relative;
    top: 50%;
    transform: translateY(-50%) skewX(12deg); }
  .story__caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 20%);
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-40px) scale(1);
    filter: blur(3px) brightness(80%); }

.bg-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 20px; }

.form__input {
  font-size: 15px;
  padding: 15px 20px;
  font-family: inherit;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #06D6A0; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #0A5770; }
  .form__input::-webkit-input-placeholder {
    color: #073B4C;
    opacity: 1; }
  .form__input::-moz-placeholder {
    color: #073B4C;
    opacity: 1; }
  .form__input:-ms-input-placeholder {
    color: #073B4C;
    opacity: 1; }
  .form__input:-moz-placeholder {
    color: #073B4C;
    opacity: 1; }

.form__label {
  font-size: 12px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 7px;
  display: block; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40px); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding-left: 45px; }

.form__radio-button {
  height: 30px;
  width: 30px;
  border: 5px solid #06D6A0;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0; }
  .form__radio-button:after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #06D6A0;
    opacity: 0;
    transition: all .3s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button:after {
  opacity: 1; }

.container,
.container-full {
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto; }

.container {
  max-width: 1140px; }

.row {
  display: flex;
  flex-wrap: wrap; }
  .row:not(:last-child) {
    margin-bottom: 120px; }

[class^="col-"] {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%; }
  [class^="col-"]:not(:last-child) {
    margin-right: 60px; }

.col-1-of-2 {
  max-width: calc((100% - 60px) / 2); }

.col-1-of-3 {
  max-width: calc((100% - 2 * 60px) / 3); }

.col-2-of-3 {
  max-width: calc(2 * (100% - 2 * 60px) / 3 + 60px); }

.col-1-of-4 {
  max-width: calc((100% - 3 * 60px) / 4); }

.col-2-of-4 {
  max-width: calc(2 * (100% - 3 * 60px) / 4 +  60px); }

.col-3-of-4 {
  max-width: calc(3 * (100% - 3 * 60px) / 4 + 2 * 60px); }

.main-section {
  padding: 0 20px; }

.section-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  margin-top: 15px;
  margin-bottom: 15px;
  background-image: linear-gradient(to right bottom, rgba(6, 214, 160, 0.7), rgba(17, 138, 178, 0.7)), url(../img/banner.png);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  overflow: hidden; }
  .banner__inner {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%; }
    .banner__inner--title {
      font-size: 60px;
      letter-spacing: 25px;
      text-transform: uppercase;
      font-weight: 200;
      animation: slideInLeft 1s ease-in-out; }
    .banner__inner--subtitle {
      font-size: 20px;
      letter-spacing: 10px;
      text-transform: uppercase;
      font-weight: 600;
      animation: slideInRight 1s ease-in-out;
      margin-bottom: 40px; }

.section-scale {
  background-color: #FFD166;
  padding-top: calc(25vh + 100px);
  padding-bottom: 100px;
  margin-top: -25vh; }
  .section-scale [class^="col-"] {
    background-color: #073B4C;
    text-align: center;
    padding: 10px;
    color: #ffffff; }

.section-about {
  padding: 100px 0 250px;
  background-color: #fcfcfc; }

.section-features {
  padding: 250px 0;
  background-image: linear-gradient(to right bottom, rgba(6, 214, 160, 0.8), rgba(17, 138, 178, 0.8)), url(../img/image-5.png);
  background-size: cover;
  transform: skewY(-6deg);
  margin-top: -100px; }
  .section-features > * {
    transform: skewY(6deg); }

.section-tours {
  background-color: #fcfcfc;
  padding: 250px 0 150px 0;
  margin-top: -100px; }

.section-stories {
  position: relative;
  padding: 150px 0; }

.section-book {
  padding: 150px 0;
  background-image: linear-gradient(to right bottom, #06D6A0, #048B67); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/image-4.png);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  width: 100%; }
  .book__form {
    width: 50%;
    padding: 60px; }
