.container,
.container-full {
    width: 100%;
    padding-right: calc($ant-gutter-x / 2);
    padding-left: calc($ant-gutter-x / 2);
    margin-right: auto;
    margin-left: auto;
}

.container {
    max-width: 1320px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc($ant-gutter-y * -1);
    margin-right: calc($ant-gutter-x / -2);
    margin-left: calc($ant-gutter-x / -2);
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc($ant-gutter-x / 2);
    padding-left: calc($ant-gutter-x / 2);
    margin-top: $ant-gutter-y;
}

.g-0 {
    $ant-gutter-x: 0;
    $ant-gutter-y: 0;
}
