
/****************************************
* Scroll Down Up
****************************************/
.section-col{position:relative;display:flex;flex-direction:column;justify-content:center;align-items:center;padding:0 15px;height:100vh;}
.first-section{background: var(--SecondaryColor);}
.second-section{background: var(--PrimaryColor);}
.third-section{background: var(--SecondaryColor);}
.fourth-section{background: var(--PrimaryColor);}
.fifth-section{background: var(--SecondaryColor);}
.sixth-section{background: var(--PrimaryColor);}
.seventh-section{background: var(--SecondaryColor);}

.scroll-btn{
    opacity:1;
    -webkit-transition:all 0.5s ease-in 3s;
    transition:all 0.5s ease-in 3s;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    bottom:45px;
    left:50%;
    margin-left:-16px;
    width:32px;
    height:32px;
    border-radius:50%;
    animation:bounce 2s infinite 2s;
    transition:all 0.2s ease-in;
    border:2px solid var(--PrimaryColor);}
.scroll-btn:before{
    display:block;
    position:relative;
    bottom:2px;
    content:'';
    transform:rotate(-45deg);
    width:12px;
    height:12px;
    border:2px solid var(--PrimaryColor);
    border-width:0px 0 2px 2px;
}

.scroll-btn.scroll-btn-up{
    position: fixed;
    right: 15px;
    bottom: 20px;
    left:inherit;
    display: none;
    border:2px solid #ffffff;
}
.scroll-btn.scroll-btn-up:before {
    bottom: 0;
    border: 2px solid #ffffff;
    border-width: 2px 2px 0px 0px;
    margin: auto;
    top: 10px;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0);
   }
    40% {
        transform: translateY(-10px);
   }
    60% {
        transform: translateY(-5px);
   }
}