/****************************************
* Reset Style
****************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

i{
    display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
    content: "";
    display: table;
}

.clearfix:after,
.row:after {
    clear: both;
}