.ui-center{text-align:center !important;}
.ui-mb-80{margin-bottom:80px !important;}
.ui-mb-40{margin-bottom:40px !important;}
.ui-mb-15{margin-bottom:15px !important;}
.ui-mt-80{margin-top:80px !important;}

