<!DOCTYPE html>
<html>

<head>
    <meta charset=utf-8>
    <base href=/template/>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link type=image/x-icon href=static/favicon.png rel=icon>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6adZVdzTvBpE2yBRK8cDfsss8QXChK0I"></script>
    <link href=https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css rel=stylesheet type=text/css>
    <script src=./static/datatables/jquery.min.js></script>
    <link href=./static/datatables/bootstrap4.min.css rel=stylesheet type=text/css>
    <link rel=stylesheet href=./static/select2.min.css>
    <link rel=stylesheet href=./static/bootstrap-datetimepicker.min.css>
    <script src=./static/select2.min.js></script>
    <script src=./static/moment.min.js></script>
    <script src=./static/bootstrap-datetimepicker.min.js></script>
    <script src=./static/jquery-ui/jquery-ui.min.js></script>
    <link href=./static/datatables/dataTables.bootstrap4.min.css rel=stylesheet type=text/css>
    <script src=./static/datatables/jquery.dataTables.min.js></script>
    <script src=./static/datatables/dataTables.bootstrap4.min.js></script>
    <title>Mentoring</title>
    <link href=/template/static/css/app.cf5a048d305b08ace8958765e30455f7.css rel=stylesheet>
</head>

<body>
    <div id=app></div>
    <script type=text/javascript src=/template/static/js/manifest.9823febf458a97b24455.js></script>
    <script type=text/javascript src=/template/static/js/vendor.9c9b202504c449e4a8d2.js></script>
    <script type=text/javascript src=/template/static/js/app.bdb35a7196116496cd41.js></script>
</body>

</html>