.section-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100vh;
}

.first-section {
    background: $PrimaryColor;

    .first-section-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-top: 15px;
        margin-bottom: 15px;
        background-image: linear-gradient(to right bottom, rgba($PrimaryColor, 0.7), rgba($SecondaryColor, 0.7)), url(../img/oriental-tiles.png);
        clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        position: relative;
        overflow: hidden;

        .first-section-box {
            position: absolute;
            top: 45%;
            transform: translateY(-50%);
            text-align: center;
            width: 100%;

            .title {
                font-size: 60px;
                letter-spacing: 20px;
                text-transform: uppercase;
                font-weight: 300;
                animation: slideInLeft 1s ease-in-out;
            }
            .subtitle {
                font-size: 20px;
                letter-spacing: 10px;
                text-transform: uppercase;
                font-weight: 700;
                animation: slideInRight 1s ease-in-out;
                margin-bottom: 40px;
            }
        }
    }
}


.second-section {
    background: $PrimaryColor;
}